.course{
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:100px;
	
}

h1{
	font-size:36px;
	font-weight:60;
}

p{
	color:#777;
	font-size:14px;
	font-weight:300;
	line-height:22px;
	padding:10px;
}
.facilities{
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:100px;
}

.facilities-col{
	flex-basis:31%;
	border-radius:10px;
	margin-bottom:5%;
	text-align:left;
	
}
.facilities-col img{
	width:100%;
	border-radius:10px;
}
.facilities-col p{
	padding:0;
}
.facilities-col h3{
	margin-top:16px;
	margin-bottom:15px;
	text-align:left;
}

<*---------------------testimonials---------------*>

